<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="post-snippet" style="width: 100%">
                <div class="post-title">
                    <h2>Some header</h2>
                </div>
                <div class="post-image" style="width: 100%">
                    <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Image" style="width: 100%">
                </div>
                <ul class="post-meta">
                    <li>
                        <a href="">
                            <i class="ti-user">Pesho</i>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <i class="ti-thumb-up">100</i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="ti-thumb-down">300</i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="ti-comment">123</i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="ti-facebook">Share</i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="ti-twitter">Share</i>
                        </a>
                    </li>
                </ul>
            </div>
            <hr>

        </div>

    </div>
</div>