<h1>PFFF</h1>
<article>
    <post-upload (onUploaded)="onUploaded($event)"></post-upload>
    <form>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" [(ngModel)]="title" name="post-title" />
        <label for="">Category</label>
        <select id="post-category" name="category" [(ngModel)]="selectedCategory">
            <option *ngFor="let category of categories" [ngValue]="category">
                {{ category | initCaps}}
            </option>
        </select>
        <span class="text-danger" *ngIf="error">{{errorMessage}}</span>
        <input type="submit" value="Post" (click)="createPost()">
    </form>
</article>