<form>
    <div class="form-group">
        <label for="post-image">Share your selfie</label>
        <input type="file" class="form-control" name="post-image" ng2FileSelect [uploader]="uploader" />
    </div>
</form>
<div class="progress">
    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">{{uploader.progress + '%'}}</div>
</div>
<div>
    <button type="button" class="btn btn-success btn-xs" (click)="uploadImage()">
        <span class="glyphicon glyphicon-upload"></span> Uplaod
    </button>
    <button type="button" class="btn btn-danger btn-xs" (click)="removeImage()">
        <span class="glyphicon glyphicon-trash"></span> Remove
    </button>
</div>