<div>
    <nav class="bg-dark">
        <div class="nav-bar">
            <div class="module left">
                <a href="#">
                    <img class="logo" alt="Logo" src="../app/assets/img/logo.jpg" />
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li>
                            <a [routerLink]="['/posts']">Posts</a>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">
                                        Categories
                                    </a>
                            <ul>
                                <li class="has-dropdown">
                                    <a href="#">
                                                Bitches
                                            </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                        Dirty bitches
                                                    </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                                Funny
                                            </a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">
                                        Top
                                    </a>
                            <ul>
                                <li>
                                    <a href="#">
                                                Weekly top
                                            </a>
                                </li>
                                <li>
                                    <a href="#">
                                                Montly top
                                            </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                        Daily challenge
                                    </a>
                        </li>
                        <li>
                            <a href="#">
                                        Weekly challenge
                                    </a>
                        </li>
                    </ul>
                </div>
                <div class="module widget-handle search-widget-handle left">
                    <div class="search">
                        <i class="ti-search"></i>
                        <span class="title">Search Site</span>
                    </div>
                    <div class="function">
                        <form class="search-form">
                            <input type="text" placeholder="Type Here" />
                        </form>
                    </div>
                </div>
                <div class="module widget-handle user-profile right">
                    <a class="btn btn-filled" href="#">Sign up</a>
                </div>
            </div>
        </div>
    </nav>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
</div>