<div class="nav-container">
    <nav class="bg-dark fixed">
        <div class="nav-bar">
            <div class="module left">
                <a href="#">
                    <img class="logo" alt="Logo" src="../app/assets/img/logo.jpg" />
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li *ngFor="let item of menuItems">
                            <a href="" [routerLink]="item.link">
                                {{item.name}}
                            </a>
                            <ul class='has-dropdown' *ngIf="item.children">
                                <li *ngFor="let child of item.children">
                                    <a href="" [routerLink]="child.link">
                                        {{child.name}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="module widget-handle search-widget-handle left">
                    <div class="search">
                        <i class="ti-search"></i>
                        <span class="title">Search Site</span>
                    </div>
                    <div class="function">
                        <form class="search-form">
                            <input type="text" placeholder="Type Here" />
                        </form>
                    </div>
                </div>
                <div class="module left no-padding" *ngIf="user">                    
                        <ul class="menu">
                            <li>
                                <a href="/profile">
                                    <img [src]="imagesUrl + user?.avatar" width="44px" height="33" alt="">
                                    <span>{{user?.username}}</span>
                                </a>
                            </li>
                            <li>
                                <div class="module widget-handle left">
                                    <a class="btn btn-filled" (click)='logout()'>SIGN OUT</a>
                                </div>
                            </li>
                        
                    </ul>

                </div>

                <div class="module widget-handle left" *ngIf="!user">
                    <a class="btn btn-filled" href="/login">Sign up</a>
                </div>
            </div>
        </div>
    </nav>
</div>